@import '../style/base';
@import '../style/animate';

:global {
    .ellipsis {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .none {
        display: none;
    }

    .gpt-loaidng-wrap {
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        width: 100vw;
        height: 100vh;
        background-color: #ffffff;
    }
}
